################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/MultipleChoiceQuizApi/MultipleChoiceQuizApi/obj
/MultipleChoiceQuizApi/MultipleChoiceQuizApi/bin/Debug/netcoreapp3.1
/MultipleChoiceQuizApi/.vs/MultipleChoiceQuizApi
/src/Services/MuiltpleChoiceQuiz/MultipleChoiceQuizApi/MultipleChoiceQuizApi/obj
/src/Services/MuiltpleChoiceQuiz/MultipleChoiceQuizApi/MultipleChoiceQuizApi/bin/Debug/netcoreapp3.1
/src/Services/MuiltpleChoiceQuiz/MultipleChoiceQuizApi/.vs/MultipleChoiceQuizApi
