################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/MultipleChoiceQuizApi/MultipleChoiceQuizApi/obj
/MultipleChoiceQuizApi/MultipleChoiceQuizApi/bin/Debug/netcoreapp3.1
/MultipleChoiceQuizApi/.vs/MultipleChoiceQuizApi
